.contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container,
.link-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 75%;
    font-size: 20px;
}

.contact-item,
.link-item  {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.contact-name {
    color: black;
}

.contact-icon {
    height: 48px;
}

.link-name {
    font-size: 20px
}

a:visited.darkmode {
    color: #f2f2f2 !important;
}

.link-name.darkmode,
.contact-name.darkmode {
    color: #f2f2f2 !important;
}

@media only screen and (max-width: 600px) {
    .contact-name,
    .link-name {
        font-size: 12px;
    }
    .link-container,
    .contact-container {
        width: 100%;
        margin: 5vh 0;
    }
}