.home-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
}

.profile-picture {
    height: 250px;
    border-radius: 50%;
    border: 3px solid black;
}

.profile-picture-darkmode {
    border: 3px solid #f2f2f2;
}

.home-header-title {
    font-size: 52px;
}

.home-hero {
    font-size: 16px;
}

.home-header-greeting {
    font-size: 20px;
}

.darkmode > .home-hero > p > a {
    color: #f2f2f2 !important;
}

@media only screen and (max-width: 600px) {
    .home-header,
    .home-hero {
        margin: 5vh 0;
    }

    .profile-picture {
        height: 125px;
    }

    .home-header-title {
        font-size: 30px;
    }

    .home-header-greeting {
        font-size: 16px;
        margin: 0;
    }
}