.nav {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 15vw;
    padding-top: 8px;
    background-color: #f9fcff;
}

.nav-links {
    display: flex;
    gap: 1rem;
    color: black;
}

.nav-link {
    text-decoration: underline;
}

a:visited {
    color: black
}

.my-icon,
.nav-icon {
    height: 24px;
    transition: .25s ease-in-out;
}

.nav-icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.nav-title > p,
.nav-link,
.nav-name {
    margin: 0;
    font-size: 16px;
}

.nav-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-author {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.toggle-mode-button {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .nav {
        padding: 4px;
    }

    .nav-title,
    .nav-links {
        gap: 0.5rem;
    }

    .nav-link,
    .nav-name {
        font-size: 12px;
    }

    .nav-icon {
        height: 20px;
    }
}