:root {
    --main-blue: #3594f3;
    --main-light-blue: #cee3f8;
}

.library-icon,
.odin-project-icon {
    height: 32px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.project {
    background-color: var(--main-light-blue);
    border: 2px solid var(--main-blue);
    padding: 4px;
}

.project-title {
    margin: 0;
    /* background-color: #3594f3; */
}

.project-image {
    width: 100%;
}

.library-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 4px;
}
