:root {
    --main-blue: #3594f3;
    --main-light-blue: #cee3f8;
}

.library-icon,
.odin-project-icon {
    height: 32px;
}

.Express,
.Prisma {
    filter: invert(97%) sepia(44%) saturate(557%) hue-rotate(224deg) brightness(125) contrast(100%);
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding-bottom: 1rem;
}

.project {
    background-color: var(--main-light-blue);
    border: 2px solid var(--main-blue);
    padding: 4px;
    box-shadow: 0px 0 5px black;
}

.project:hover {
    box-shadow: 0px 0 10px black;
}

.project-darkmode {
    background-color: #1a1a1a;
    border: 1px solid #f2f2f2;
    /* box-shadow: 0px 0 5px white; */
}

.project-darkmode:hover {
    background-color: #070707;
    box-shadow: 0px 0 10px white;
}

.project-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
}

.project-link {
    text-decoration: none;
}

.project-title {
    margin: 0;
}

.project-image {
    width: 100%;
    border: 1px solid black;
}

.project-description {
    font-size: 16px;
}

.library-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 4px;
}

@media only screen and (max-width: 600px) {
    .projects-container {
        grid-template-columns: repeat(1, 1fr);
    }
}